.mainBox {
  display: flex;
}

.mainBox > input {
  font-size: 20px;
  outline: none;
  outline-offset: 0px;
  color: rgb(128, 66, 0);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.mainBox > button {
  font-size: 20px;
  outline: none;
  outline-offset: 0px;
  color: rgb(0, 64, 128);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.playerDiv {
  display: flex;
  gap: 15px;
  flex-direction: row;
}
