.product-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background: whitesmoke;
  width: 87%;
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(20px, 10%);
  z-index: 1;
}
