.outermostContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxesContainer {
  --size:3;
  width: 500px;
  height: 500px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 1fr);
  gap: 10px;
  padding: 10px;
  outline: none;
  offset: 0;
}

.box{
  background-color: wheat;
  border-radius: 10%;
  cursor: pointer;
}
