* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.header_app {
  text-align: center;
  font-size: 34px;
  text-decoration: underline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 30px;
}

.main_app {
  padding-left: 30px;
}

.tab_bar {
  display: flex;
  flex-direction: row;
  max-width: 30%;
  justify-content: space-between;
}

.task_body_tab_element1 {
  margin-top: 30px;
}

.plusAddTask_tab_element1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#tab_element_1 {
  width: 70%;
}

.hoveredItem {
  background-color: rgb(232, 226, 226);
}

.task_list {
  margin-top: 10px;
  width: auto;
}
.task_item {
  padding: 1px 0px;
  cursor: pointer;
  display: flex;
}

.label {
  border: none;
  offset: none;
  outline: none;
}

.task_item,
.label {
  width: 100%;
  overflow: hidden;
}
.task_item > input,
.label {
  margin-right: 5px;
  cursor: pointer;
}

.plusAddTask_tab_element1 > button {
  width: 20px;
  height: 20px;
  font-size: 15px;
  text-align: center;
  border: none;
  border-radius: 50%;
}

.plusAddTask_tab_element1:hover > button {
  background-color: #dc4c3e;
  color: white;
  cursor: pointer;
}

.plusAddTask_tab_element1:hover > label {
  color: #dc4c3e;
  cursor: pointer;
}

.completed_task_list {
  margin-top: 20px;
}
.completed_task_body {
  margin-top: 10px;
}
.completed_task_item {
  text-decoration: line-through;
  padding: 2px 0px;
  display: flex;
  gap:5px
}
.completed_task_item > input{
cursor: pointer;
}
